/******************************************************************************
COLORS
******************************************************************************/
html {
  padding-top: 70px; }

/**************************************
GENERIC STYLING
**************************************/
body {
  background: #FDF3E7; }

h1, h2, h3, h4, h5, h6, p {
  color: #3B3738; }

.btn-info {
  background: #7E8F7C;
  border-color: #71826f; }
  .btn-info:hover {
    background: #71826f; }

.btn-success {
  background: #C63D0F;
  border-color: #ae360d; }
  .btn-success:hover {
    background: #ae360d; }

footer {
  background: #3B3738;
  padding-top: 20px;
  padding-bottom: 15px; }
  footer p, footer a {
    color: #FDF3E7; }

.socialIcons {
  background: #2e2b2b; }

/**************************************
NAV BAR
**************************************/
.navbar {
  border-bottom-color: #3B3738;
  box-shadow: 0 3px 5px #3B3738; }

.logoNav {
  max-width: 40px;
  max-height: 40px; }

/******************************************************************************
ABOUT
******************************************************************************/
.first {
  background: url(../img/lightBulb.jpg) no-repeat center center fixed;
  background-size: cover; }
  .first h1 {
    margin: 250px auto;
    font-weight: 200;
    color: #FDF3E7; }

.hope {
  background: url(../img/solarPanel.jpg) no-repeat center center fixed;
  background-size: cover; }
  .hope h2 {
    color: #FDF3E7;
    margin: 100px auto; }

.hope {
  padding-top: 75px; }

.youHelp {
  padding-top: 50px; }
  .youHelp a {
    margin-top: 10px; }

.solution {
  margin: 50px 0; }

/******************************************************************************
DONATE
******************************************************************************/
.donate {
  margin: 0 auto;
  width: 30%; }

.donateNav {
  color: white;
  background: #C63D0F; }
  .donateNav a {
    color: white; }

.donationPromise {
  background: url(../img/fan.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 400px; }
  .donationPromise h1 {
    color: white;
    padding-top: 100px; }

.donationButton {
  margin-top: 30px; }

.otherDonation {
  text-decoration: underline; }

.callToAction {
  margin: 150px auto; }

.donationInfo {
  margin-bottom: 150px; }

/******************************************************************************
Buttons
******************************************************************************/
.actionButton {
  margin-top: 15px; }

/******************************************************************************
FOOTER
******************************************************************************/
footer {
  margin-top: 15px; }

.footerLinks {
  font-size: 1.25em; }
  .footerLinks a {
    color: #FDF3E7; }
    .footerLinks a:hover {
      color: #7d7577;
      text-decoration: none; }
