$background: #3f3f3f;


/******************************************************************************
General Stuff
******************************************************************************/



body {
//  padding-top: 70px;
  margin-bottom: 60px; /* For sticky footer*/
  text-align: center;
  
  
  /* Background Image for Coverpage */
  
  background: url(../img/solarPanel.jpg) no-repeat center center fixed;
  background-size: cover;
  position: static;
  
//  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);

  
}



/**************************************
Fonts
**************************************/



h1, h2, p, h3, a {
  color: #eee;
}

a:hover {
  text-decoration: none;
  color: #ccc;
}

.btn-default {
  background: rgba(170,170,170,.1);
  color: #eee;
}

.btn-primary {
  background: #ddd;
  color: #333;
  font-weight: bold;
  &:hover, &:focus {
    background: darken(#ddd, 5%);
  }
}




/******************************************************************************
Footer
******************************************************************************/


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
//  height: 60px;
  background-color: rgba(#f5f5f5, .9);
  
  a {
    color: #333;
    &:hover {
      color: #555;
    }
  } 
}

.socialIcons {
  padding: 0 50px;
}



/******************************************************************************
Centered Text / Layover
******************************************************************************/


.textCenteredPage {
  left: 0;
    line-height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  background: rgba($background, .4);
  background-size: cover;
}

.wrap {
  top: 70%;
  
  background-color: rgba($background, .75);
  
  background-size: cover;
}


/*
 * Header
 */

.masthead {
  background: rgba($background, .75);
}
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}



