/******************************************************************************
COLORS
******************************************************************************/



$red: #C63D0F;
$dark: #3B3738;
$white: #FDF3E7;
$darkgreen: #7E8F7C;



html {
  padding-top: 70px; //needed for fixed nav
}


/**************************************
GENERIC STYLING
**************************************/



body {
  background: $white;
}

h1, h2, h3, h4, h5, h6, p {
  color: $dark;
}

.btn-info {
  background: $darkgreen;
  border-color: darken($darkgreen, 5%);
  &:hover {
    background: darken($darkgreen, 5%);
  }
}

.btn-success {
  background: $red;
  border-color: darken($red, 5%);
  &:hover {
    background: darken($red, 5%);
  }
}

footer {
  background: $dark;
  padding-top: 20px;
  padding-bottom: 15px;
  p,a {
    color: $white;
  }
}

.socialIcons {
  background: darken($dark, 5%);
}

/**************************************
NAV BAR
**************************************/

.navbar {

  border-bottom-color: $dark;
  box-shadow: 0 3px 5px $dark; //Gives dept to page.
}

.logoNav {
  max-width: 40px;
  max-height: 40px;
}


/******************************************************************************
ABOUT
******************************************************************************/



.first {
  background: url(../img/lightBulb.jpg) no-repeat center center fixed;
  background-size: cover;
  h1 {
    margin: 250px auto;
    font-weight: 200;
    color: $white;
  }
}

.hope {
  background: url(../img/solarPanel.jpg) no-repeat center center fixed;
  background-size: cover;
  
  h2 {
    color: $white;
    margin: 100px auto;
  }
}

.hope {
  padding-top: 75px;
}

.youHelp {
  padding-top: 50px;
  a {
    margin-top: 10px;
  }
}

.solution {
  margin: 50px 0;
}



/******************************************************************************
DONATE
******************************************************************************/



.donate {
  margin: 0 auto;
  width: 30%;
}

.donateNav {
  color: white;
  background: $red;
  a {
    color: white;
  }
}

.donationPromise {
  background: url(../img/fan.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 400px;
  h1 {
    color: white;
    padding-top: 100px;
  }
}

.donationButton {
  margin-top: 30px;
}

.otherDonation {
  text-decoration: underline;
  &:hover {
    
  }
}

.callToAction {
  margin: 150px auto;
}

.donationInfo {
  margin-bottom: 150px;
}



/******************************************************************************
Buttons
******************************************************************************/



.actionButton {
  margin-top: 15px;
}



/******************************************************************************
FOOTER
******************************************************************************/



footer {
  margin-top: 15px;
}

.footerLinks {

    font-size: 1.25em;
    a {
      color: $white;
      &:hover {
        color: lighten($dark, 25%);
        text-decoration: none;
      }
    }
}


