html {
  padding-top: 70px;
}

.first {
  color: #eee;
  background: url(../img/lightBulb.jpg) no-repeat center center fixed;
  background-size: cover;
  h1 {
    margin: 250px auto;
    font-weight: 200;
  }
}

.youHelp {
  padding-top: 50px;
}

.hope {
  background: url(../img/solarPanel.jpg) no-repeat center center fixed;
  background-size: cover;
  
  color: white;
}

.hope {
  padding-top: 75px;
}



/******************************************************************************
DONATE
******************************************************************************/
.donate {
  margin: 0 auto;
  width: 30%;
}

.donateNav {
  background: tomato;
  &a {
    background: tomato;
    color: white;
  }
}

.donationPromise {
  background: url(../img/fan.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 400px;
}